
.column {
  border: 5px solid black;
  padding: 10px;
  background-color: ivory;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  box-sizing: border-box;
}
.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
.column ul {
  font-style: times;
  font-weight: bold;
}
.column h2 {
  color:gray;
  font-style: arial;
  text-align: center;
}
.column p {
  color:darkgray;
  font-style: arial;
}
body {
  background-color: wheat;
}

h1 {
  color: darkblue;
  text-align: center;
}

h2 {
  color: darkcyan;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
