img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  border-radius: 25px;
  padding: 8px;
  border: 2px solid yellowgreen;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  box-sizing: border-box;
}
.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
.column ul, li {
  text-align: left;
  font-style: times;
  font-weight: bold;
}
.column h2, h4 {
  color:rgb(51, 49, 49);
  font-weight: 300;
  font-style: helvetica;
  text-align: center;
}
.column p {
  color:darkgray;
  font-weight: normal;
  font-style: helvetica;
}
body {
  background-color: white;
}

h1 {
  color: darkblue;
  text-align: center;
}

h2 {
  color: darkcyan;
  text-align: center;
}
.recent{
  float:center;
  border-radius: 25px;
  border: 2px solid yellowgreen;
  background-color: rgb(171, 219, 247);
  margin: 60px;
}
p {
  font-style: helvetica;
  text-align: center;
  font-size: 20px;
}
